In [6]:
import pandas as pd

In [1]:
#lambda function ใช้กับสมการ และ true false
fn = lambda x : x + 5
fn(5)

10

In [2]:
#สร้าง arary โดยใช้ loop
[x+5 for x in range(1, 11)]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [4]:
# full version
lst = []
for x in range(1,11):
    lst.append(x+5)
lst

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [7]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})

In [9]:
#รวม df ด้วย column 'key'
pd.merge( left, right, on = 'key', how = 'outer')

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C3   D3

In [10]:
dfleft = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
'key2': ['K0', 'K1', 'K0', 'K1'],
'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']})
dfright = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
'key2': ['K0', 'K0', 'K0', 'K0'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})

In [11]:
#รวม df ด้วย column 'key'
pd.merge(dfleft, dfright, on= ['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
#export เป็น output1.csv ไม่เอา index เข้าไปเก็บ
dfleft.to_csv('week6/output1.csv', index= False)

In [12]:
#อ่าน excel โดยใช้ cols bถึงe
df = pd.read_excel('week6/sale_quarterly1.xlsx', usecols= 'b:e', header=2)

FileNotFoundError: [Errno 2] No such file or directory: 'week6/sale_quarterly1.xlsx'

In [ ]:
df.pivot_table(index = 'Quarter', 
               columns= 'Country' , 
               values= 'Sales',  #values คือ อยากให้เป็นค่าของอะไร
               aggfunc='sum', #aggfunc คือ อยากให้ทำอะไร
               fill_value=0) #fill_value คือ เปลี่ยนค่า nan เป็นอะไรดี

In [ ]:
df.pivot_table(index= 'Employee', 
               columns= 'Quarter', 
               aggfunc= ['sum', 'mean'], 
               values= 'Sales')

In [ ]:
df.pivot_table(index= ['Employee','Quarter'], 
               columns= 'Country', 
               aggfunc= 'sum', 
               values= 'Sales', 
               fill_value=0)

In [ ]:
names = ['Bill', 'Tina']
a = df[ (df['Employee'].apply( lambda name : name in names )) ]
a.pivot_table(index= ['Employee','Quarter'], 
              columns= 'Country', 
              aggfunc= 'sum', 
              values= 'Sales', 
              fill_value=0)

In [ ]:
df.isnull().any() #ดูว่าตัวไหนที่เป็น null

In [ ]:
#แปลง datatype เป็น int64 
df['NUM_BEDROOMS'] = df['NUM_BEDROOMS'].astype('Int64', errors='ignore')

In [ ]:
#ที่ซ้ำกันทุกอย่าง
df.duplicated()

In [ ]:
#เอาตัวที่เจอทีหลังทิ้ง
df2.drop_duplicates()